# Derived from basic .gitignore template for python projects:
#   https://github.com/github/gitignore/blob/main/Python.gitignore
# Please maintain the alphabetic order of the section titles
# To debug why a file is being ignored, use the command:
#    git check-ignore -v $my_ignored_file

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# VSCode
.vscode/
